<xf:macro name="notice_list" arg-type="!" arg-notices="!">
	<xf:if is="{$notices} is not empty">
		<xf:if is="$type == 'thnoticesplus_overlay'">
			<xf:js src="themehouse/noticesplus/structure.js" min="themehouse/noticesplus/structure.min.js" addon="ThemeHouse/NoticesPlus" />
			<xf:foreach loop="{$notices}" value="$notice">
				<xf:macro name="overlay_notice" arg-notice="{$notice}" />
			</xf:foreach>
			<xf:elseif is="$type == 'thnoticesplus_topbar'" />
			<xf:css src="notices.less" />
			<xf:js src="xf/notice.js" min="1" />

			<ul class="notices notices--{$type} {{ count($notices) > 1 ? 'notices--isMulti' : '' }} js-notices"
				data-xf-init="notices"
				data-type="{$type}"
				data-scroll-interval="{{ property('noticeScrollInterval') }}">
				<xf:foreach loop="{$notices}" value="$notice">
					<xf:macro name="topbar_notice" arg-notice="{$notice}" />
				</xf:foreach>
			</ul>
		</xf:if>
	</xf:if>
</xf:macro>

<xf:macro name="topbar_notice"
		  arg-notice="!">
	<li class="notice js-notice {{ $notice.display_style == 'custom' ? $notice.css_class : 'notice--' . $notice.display_style }}{{ $notice.display_image ? ' notice--hasImage' : '' }}{{ $notice.visibility ? ' notice--hide' . $notice.visibility : '' }}"
		data-notice-id="{$notice.notice_id}"
		data-delay-duration="{$notice.delay_duration}"
		data-display-duration="{$notice.display_duration}"
		data-auto-dismiss="{$notice.auto_dismiss}"
		data-visibility="{$notice.visibility}">

		<xf:if is="$notice.display_image == 'avatar'">
			<div class="notice-image"><xf:avatar user="$xf.visitor" size="s" href="" /></div>
			<xf:elseif is="$notice.display_image == 'image'" />
			<div class="notice-image"><img src="{{ base_url($notice.image_url) }}" alt="" /></div>
		</xf:if>
		<div class="notice-content">
			<xf:if is="$notice.dismissible AND !$notice.custom_dismissible">
				<a href="{{ link('account/dismiss-notice', null, {'notice_id': $notice.notice_id}) }}" class="notice-dismiss js-noticeDismiss" data-xf-init="tooltip" title="{{ phrase('dismiss_notice')|for_attr }}"></a>
			</xf:if>
			{$notice.message|raw}
		</div>
	</li>
</xf:macro>

<xf:macro name="overlay_notice"
		  arg-notice="!">
	<div style="display: none">
		<div class="notice block"
			 data-xf-init="thnoticesplus_overlay"
			 data-notice-id="{$notice.notice_id}"
			 data-notice-dismiss-url="{{ $notice.dismissible ? link('account/dismiss-notice', null, {'notice_id': $notice.notice_id}) : '' }}"
			 data-dismissible="{{ $notice.thnoticesplus_overlay_dismissible ? 'true' : 'false' }}">
			<div class="overlay-title">{$notice.title}</div>
			<div class="block-container">
				<div class="block-body">
					<div class="block-row">
						{$notice.message|raw}
					</div>
				</div>
			</div>
		</div>
	</div>
</xf:macro>